.box-layout {
  align-items: center;
  background: $dark-blue;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  width: 100vw;
}


.box-layout__background{
  background: url('/images/bg.jpeg');
  height: 100vh;
  width: 100vw;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0;
  justify-content: center;
  align-items: center;
  display: flex;
}

.box-layout__box {
  background: fade-out(white, .20);
  border-radius: 3px;
  padding: $l-size $m-size;
  text-align: center;
  width: 30rem;
  height: 42rem;
  box-shadow: 4px 4px  rgba(13, 13, 14, 0.087);
}

.box-layout__title {
  margin: 0 0 $m-size 0;
  line-height: 1;
  font-weight: 500;
}


.box-layout__subtitle {
  font-weight: 400;
  font-size: 2rem;
}

.box-layout--hr{
  display: inline-block;
  margin: 1rem 0 2rem 0;
  padding: 0;
  width: 50%;

}

.dashboard-layout__background {    
  position: fixed;
  opacity: 0.06;
  background-size: cover;
  height: auto;
  width: 100vw;
  z-index: -1;
}

.title{
  position: fixed;
  left: 60px;
  top:-90px;
  font-size: 15rem;
  opacity: 1;
  font-family: 'Amatic SC', sans-serif;
}

.title span{
  display: inline-block;
  font-size: 13rem;
  text-decoration: none;
  transform:translateY(-10px);
}