.button {
  background: $blue;
  border: none;
  color: white;
  display: inline-block;
  //Inline-block b/c by default all Link is inline and vertical margin/padding wont be taken into effect
  font-size: $font-size-large;
  font-weight: 300;
  line-height: 1;
  padding: $s-size;
  text-decoration: none;
  transition: transform .3s ease;
  transition: background .3s ease;
  &:hover {
    background: darken($blue, 11%);
    transform: scale(1.03);
  }
}

.button--link {
  background: none;
  transition: transform .3s ease;
  transition: background .3s ease;
  &:hover {
    background: none;
    transform: scale(1.1);
  }
}

.button--secondary {
  background: #888;
  transition: transform .3s ease;
  transition: background .3s ease;
  &:hover {
    background: darken(#888, 11%);
    transform: scale(1.03);
  }
}

.modal--button{
  font-size: 2rem;
  padding: $s-size 2.2rem;
  background: $blue;
  transition: transform .3s ease;
  transition: background .3s ease;
  &:hover {
    background: darken($blue, 11%);
    transform: scale(1.09);
  }
}

.button--login{
  margin: 0 auto;
  // margin-bottom: 2.7rem;
  display:flex;
  align-items: center;
  justify-items: center;
  padding: 0.5rem 1.8rem;
  color: black;
  border-radius: 10px;
  font-size: 1.7rem;
  width: 100%;
  font-family: Quicksand, sans-serif;
  font-weight: 300;
  background: darken($off-white, 6%);
  border: 1px solid rgba(0, 0, 0, 0.267);
  box-shadow: 3px 3px  rgba(17, 5, 185, 0.037);
  opacity: .9;
  outline: none;
  transition: transform .4s ease;
  transition: background .4s ease;
  &:hover {
    background: darken($off-white, 11%);
    transform: scale(1.03);
  }
}

.button__image{
  height: 3.7rem;
  width: 3.7rem;
  margin-right: $m-size;
}

.button--hr{
  margin: $m-size auto;
  width: 20%;
}